Checks: "
    clang-diagnostic-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-missing-std-forward,
"
WarningsAsErrors: true
HeaderFilterRegex: ".*"
FormatStyle: llvm
ExcludeHeaderFilterRegex: "*.test.cpp"
